.sidebarSelect {
    &__content {
        margin-bottom: 11px;
    }
    
    &__list {
        padding: 0;
        margin: 0;
        margin-left: 5px;

        &__showMore {
            cursor: pointer;
            margin: 16px 0;
        }
    }
    
    
}
