/* đường dẫn */
.path{
    display: flex;
    align-items: center;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    font-size: 1.6rem;
    opacity: 0.6;
    font-weight: 400;
    // .path .wrapper {
    //     
    // }
    
    &__home{
    
    }
    
    &--icon{
        margin: 0 20px;
    }
        
    &__shop{
    
    }
    /* đường dẫn */
}

