@mixin responsive-style() {
    &__column1 {
        &::before {
            content: "Xóa:";
            float: left;
            font-weight: 700;
            font-size: 1.7rem;
        }
    }

    &__column2 {
        &__img {
            width: 20vw;
        }

        &::before {
            content: "Image: ";
            float: left;
            font-weight: 700;
            font-size: 1.7rem;
        }
    }

    &__column3 {
        &::before {
            content: "Name: ";
            float: left;
            font-weight: 700;
            font-size: 1.7rem;
        }
    }
    &__column4{
        &::before {
            content: "Price: ";
            float: left;
            font-weight: 700;
            font-size: 1.7rem;
        }
    }

    &__column5{
        &::before {
            content: "Discount: ";
            float: left;
            font-weight: 700;
            font-size: 1.7rem;
        }
    }

    &__column {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 8px 18px;
    }

}

.wishlistChild {
    position: relative;
    font-size: 1.4rem;
    line-height: 2.4rem;
    height: 150px;
    &__column1 {
        padding: 35px 8px 18px;
        &__exit {
        }
        
        &__exit--icon{
            font-size: 1.4rem;
            height: 20px;
            width: 20px;
            line-height: 100%;
            border-radius: 50%;
            background-color: red;
            padding: 4px;
            color: white;
            text-align: center;
        }
    }
    
    
    &__column2 {
        padding: 35px 8px 18px;
        padding-right: 40px;
        &__img {
            width: 100%;
        }
    }
    
    &__column1,
    &__column2,
    &__column3,
    &__column4,
    &__column5 {
        padding: 35px 8px 18px;
    }

    @media screen  and (max-width: 431px) {
        @include responsive-style();
    }
    
    @media screen  and (min-width: 431px) and (max-width: 631px){
        @include responsive-style();
    }
    
    @media screen  and (min-width: 631px) and (max-width: 931px){
        @include responsive-style();
    }
}


.header__middle__child__search__child__icon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%);
}

.header__middle__child__search__child__icon__child {
    animation: leanerTwirl linear infinite 1s;

}

@keyframes leanerTwirl {
    0% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}