.headerFooterSelect {
    padding: 10px;
    line-height: 2.2rem;
    cursor: pointer;
    border-right: 1px solid #e7c400;
 
    &__header {
        display: flex;
        align-items: center;

        &--content {
        font-weight: 600;
        opacity: 0.7;
        }
    
        &--icon {
        position: relative;
        top: -3px;
        text-align: center;
        font-size: 1.8rem;
        margin-left: 7px;
        }
    }


    /* Phần hover */

    &__list {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: white;
        top: 100%;
        left: 0;
        padding: 10px 20px;
        font-size: 1.4rem;
        line-height: 1.8rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        visibility: hidden;
        opacity: 0;
        transition: all .15s ease-in;
        z-index: 999;
    }


    /* Phần hover */

    /* header page */
    // Phần pc

    /* Phần hover */

    @media screen  and (max-width: 431px) {
        & {
            justify-content: start;
            border: none;
            font-size: 1.6rem;
        }
        &__list {
            display: block;
            background-color: var(--primary-color);
            box-shadow: none;
            border-top: 1px solid #ece4e4;
            border-bottom: 1px solid #ece4e4;
            position: relative;
            margin-top: 10px;
        }
    }

    @media screen  and (min-width: 431px) and (max-width: 631px){
        & {
            justify-content: start;
            border: none;
            font-size: 1.6rem;
        }
        &__list {
            display: block;
            background-color: var(--primary-color);
            box-shadow: none;
            border-top: 1px solid #ece4e4;
            border-bottom: 1px solid #ece4e4;
            position: relative;
            margin-top: 10px;
        }
    }

    @media screen  and (min-width: 631px) and (max-width: 931px){
        & {
            justify-content: start;
            border: none;
            font-size: 1.6rem;
        }
        &__list {
            display: block;
            background-color: var(--primary-color);
            box-shadow: none;
            border-top: 1px solid #ece4e4;
            border-bottom: 1px solid #ece4e4;
            position: relative;
            margin-top: 10px;
        }
    }

    @media screen  and (min-width: 931px) and (max-width: 1231px){
        & {
            justify-content: start;
            border: none;
            font-size: 1.6rem;
        }
        &__list {
            display: block;
            background-color: var(--primary-color);
            box-shadow: none;
            border-top: 1px solid #ece4e4;
            border-bottom: 1px solid #ece4e4;
            position: relative;
            margin-top: 10px;
        }
    }

    @media screen and (min-width: 1231px) {

        &:hover &__list {
            transform: scaleY(1)!important;
            opacity: 1 !important;
            visibility: visible !important;
        } 
    }
}