@mixin responsive-style() {
    &__tableRow1 {
        display: none;
    }

    &__topic {
        margin-bottom: 31px !important;
    }
}

.compare {
    &__topic {
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    
    &__table {
        width: 100%;
        &--noData {
            text-align: center;
            padding: 30px 0;
        }
        
        & thead th {
            border-bottom: 1px solid #ddd;
            border-top: none;
            font-weight: 400;
            color: #747474;
        }
    }
    
    
    &__tableRow1 {
        font-size: 1.4rem;
        line-height: 2.4rem;
        &__column1 {    
            padding: 8px;
        }
        
        &__column2 {
            width: 150px;
        }

        &__column5,
        &__column4,
        &__column3 {
            text-align: left;
            padding: 8px;
        }
    }

    @media screen  and (max-width: 431px) {
        @include responsive-style();
    }
    
    @media screen  and (min-width: 431px) and (max-width: 631px){
        @include responsive-style();
    }
    
    @media screen  and (min-width: 631px) and (max-width: 931px){
        @include responsive-style();
    }
}