@mixin responsive-style() {
    & {
        display: flex;
        flex-direction: column;
    }
    
    &__details__care {
        margin-top: 50px;
    }
}
/* phần giới thiệu  */
.footer__bottom {
    &__details {
        padding: 60px 0;
        display: flex;

        &__care {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.4rem;
            line-height: 2.4rem;
    
            &__content {
                opacity: 0.8;
            }
            
            &__list {
                opacity: 0.6;
                padding: 0;
                
                &___child {
                    list-style-type: none;
                    margin-top: 5px;
                }
            }
            
        }
        
        &__contact {
            flex: 1; 
        
            &__top {
                margin-bottom: 42px;
                &__logo {
                    margin-bottom: 22px;
                }
                
                &__phoneNum {
                    display: flex;
                    align-items: center;
                    &__left {
                        padding-right: 20px;
                        &--icon{
                            font-size: 4rem;
                            color: #fed700;
                        }
                    }
                }
                    
                &__right {
                    &__top {
                        font-size: 13px;
                        opacity:0.6;
                        margin-bottom: 5px;
                    }
                    &__bottom {
                        font-size: 22px;
                        line-height: 100%;
                    }
                }
            }
            
            
            &__socialNetwork {
                &__address {
                    margin-bottom: 18px;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    opacity: 0.7;
                }
                
                &__address__top {
                
                }
                
                &__address__bottom {
                
                }
                
                &__social {
                }
                
                &__social--icon {
                    opacity: 0.5;
                    width: 35px !important;    
                    height: 35px !important;    
                
                    &:hover {
                        opacity: 1;
                    }
                
                    & + & {
                        margin-left: 15px;
                    }
                }
            }
            
        }
    }
        
    @media screen  and (max-width: 431px) {
        @include responsive-style();
    }

    @media screen  and (min-width: 431px) and (max-width: 631px){
        @include responsive-style();
    }
}
